/* General Demo Style */

@font-face {
 	font-family: 'codropsicons';
 	src:url('../fonts/codropsicons/codropsicons.eot');
 	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
 		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
 		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
 		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
 	font-weight: normal;
 	font-style: normal;
 }

 @font-face {
 	font-family: 'MoonTypeface';
 	src:url('../fonts/moon/moon_light.otf');
 	src:url('../fonts/moon/moon_webfont.otf?#iefix') format('embedded-opentype'),
 		url('../fonts/moon/moon_light-webfont.woff) format('woff'),
 		url('../fonts/moon/moon_light-webfont.ttf') format('truetype'),
 	font-weight: normal;
 	font-style: normal;
 }

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-family:'MoonTypeface'; font-size: 90%; padding: 0; margin: 0; background: #00CDEF;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
	font-family:'MoonTypeface';
  color: #ffe8e7;
	background: #00CDEF;
	font-style: normal;
  font-weight: 300;
  font-variant: normal;
  text-transform: none;
	overflow-x: hidden;
}

a {
	color: #888;
	font-family: 'MoonTypeface';
	text-decoration: none;
}

a:hover,
a:active {
	color: #E2D823;
}

/* Header Style */
.main,
.container > header {
	margin: 0 auto;
	padding: 2em;
}

.container > header {
  font-family: 'MoonTypeface';'
	text-align: center;
	background: rgba(0,0,0,0.01);
}

.container > header h1 {
	font-family: 'MoonTypeface';
	font-size: 2.625em;
	line-height: 1.3;
	margin: 0;
	font-weight: 300;
}

.container > header span {
	display: block;
	font-family: 'MoonTypeface';
	font-size: 60%;
	color: #b14943;
	padding: 0 0 0.6em 0.1em;
}

/* Main Content */

.main {
	max-width: 80em;
}
/* To Navigation Style */
.codrops-top {
	background: #fff;
	background: rgba(255, 255, 255, 0.4);
	text-transform: uppercase;
	width: 100%;
	font-family:'MoonTypeface'
	font-size: 0.69em;
	line-height: 2.2;
}

.codrops-top a {
	padding: 0 1em;
	letter-spacing: 0.1em;
	color: #EFE925;
	font-weight: 700;
	display: inline-block;
}

.codrops-top a:hover {
	background: rgba(255,255,255,0.5);
	color: #bd4a43as;
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	float: left;
	display: block;
}

.codrops-icon:before {
	font-family: 'codropsicons';
	margin: 0 4px;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
	content: "\e001";
}

.codrops-icon-prev:before {
	content: "\e004";
}

.codrops-icon-archive:before {
	content: "\e002";
}

.codrops-icon-next:before {
	content: "\e000";
}

.codrops-icon-about:before {
	content: "\e003";
}
.responsive-image{
    height:auto;
    width:70%;
}

@media screen and (max-width: 25em) {

	.codrops-icon span {
		display: none;
	}

}
