/*


    Template Name   : Capture
    Template Author : pixelhint.com
    Author Email    : contact@pixelhint.com
    License         : pixelhint.com/license


    *****************************************


    - Header
    - Hero section
    - Featured on seaction
    - About section
    - App features section
    - Testimonials section
    - Subscription section
    - Footer
    - Responsive CSS


*/







/*		Fonts		*/
@font-face {
    font-family: 'open_regular';
    src: url('/fonts/opensans/opensans-regular.eot');
    src: url('/fonts/opensans/opensans-regular.eot?#iefix') format('embedded-opentype'),
         url('/fonts/opensans/opensans-regular.woff') format('woff'),
         url('/fonts/opensans//opensans-regular.ttf') format('truetype'),
         url('/fonts/opensans//opensans-regular.svg#LatoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'open_bold';
    src: url('/fonts/opensans/opensans-bold.eot');
    src: url('/fonts/opensans/opensans-bold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/opensans/opensans-bold.woff') format('woff'),
         url('/fonts/opensans//opensans-bold.ttf') format('truetype'),
         url('/fonts/opensans/opensans-bold.svg#LatoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'open_semibold';
    src: url('/fonts/opensans/opensans-semibold.eot');
    src: url('/fonts/opensans/opensans-semibold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/opensans//opensans-semibold.woff') format('woff'),
         url('/fonts/opensans//opensans-semibold.ttf') format('truetype'),
         url('/fonts/opensans//opensans-semibold.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}




/*		General CSS		*/
body{
	padding: 0px;
	margin: 0px;
}

a:focus{
	color: #fff!important;
	text-decoration: none!important;
}

.container{
	max-width: 1130px;
}










/*		Header 		*/

header{
	position: fixed;
	display: block;
	width: 100%;
	height: 90px;
	z-index: 99;
	background-color: #41c17;
	background-image: -moz-linear-gradient(bottom, #17C0DA 0%, #17C0DA 0.27%, #17C0DA 99.46%, #17C0DA 100%);
	background-image: -o-linear-gradient(bottom, #17C0DA 0%, #17C0DA 0.27%, #17C0DA 99.46%, #17C0DA 100%);
	background-image: -webkit-linear-gradient(bottom, #17C0DA 0%, #17C0DA 0.27%, #17C0DA 99.46%, #17C0DA 100%);
	background-image: linear-gradient(bottom, #17C0DA 0%, #17C0DA 0.27%, #17C0DA 99.46%, #17C0DA 100%);
}

header .logo{
	display: table-cell;
	margin: 45px 100px 0 0;
}

header .burger_icon{
	display: none;
	float: right;
	background: #ffffff;
	padding: 5px 10px;
	text-transform: uppercase;

	color: #17C0DA;
	font-family: "open_regular", Helvetica, Arial, sans-serif;
	font-size: 14px;

	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;

	margin: 45px 10px 0 0;
}

header .burger_icon:hover{
	cursor: pointer;
}

header .burger_icon.active{
	background: #fff;
	color: #17C0DA;
}

header nav{
	margin-top: 50px;
	display: table-cell;
}

header nav li{
	float: left;
	margin-left: 40px;
}

header nav li:first-child{
	margin: 0;
}

header nav li a{
	color: #fff;
	font-family: "open_regular", Helvetica, Arial, sans-serif;
	font-size: 16px;
	text-transform: uppercase;

	transition: all .2s linear;
	-o-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-webkit-transition: all .2s linear;
}

header nav li a:hover,
header nav li a:focus{
	text-decoration: none;
	color: #B7EFD1!important;
}


/*		Hero section 		*/

.hero{
	display: block;
	position: relative;
	width: 100%;
	height: 560px;
	background: url('../img/#') no-repeat fixed center center;
	background-size: cover;
}

.hero .caption{
	position: absolute;
	max-width: 550px;
	margin-left: 80px;
	top: 50%;
	transform:translate(0,-50%);
	-webkit-transform:translate(0,-50%);
	-moz-transform:translate(0,-50%);
	-o-transform:translate(0,-50%);
}

.hero .caption h1{
	color: #525252;
	font-family: "open_bold", Helvetica, Arial, sans-serif;
	font-size: 34px;
	font-weight: bold;
	word-break: break-word;
}

.hero .caption p{
	color: #6d6c6c;
	font-family: "open_regular", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 30px;
	margin: 15px 0 35px 0;
}

#slider .caption p{
	margin: 0;
}

a.app_store_btn{
	display: inline-block;
	text-decoration: none;
	padding: 15px 40px;
	border: 2px solid #525252;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	margin: 20px 20px 10px 0;

	color: #525252;
	font-family: "open_semibold", Helvetica, Arial, sans-serif;
	font-size: 16px;
}

.android_icon,
.mobile_pic_icon{
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	margin-right: 20px;
	margin-bottom: 3px;
}


.mobile_pic_icon{
	background: url('../img/mobile_pic_app.png') no-repeat;
}

.android_icon{
	background: url('../img/android_app.png') no-repeat;
}


a.app_store_btn:hover,
a.app_store_btn:focus{
	border-color: #17C0DA;
	color: #17C0DA!important;
}


a.app_link{
	text-transform: lowercase;
	letter-spacing: .5px;
	color: #6d6c6c;
	font-family: "open_regular", Helvetica, Arial, sans-serif;
	font-size: 16px;
}

a.app_link:hover,
a.app_link:focus{
	text-decoration: none;
	color: #E2DD2B!important;
}

a.app_store_btn,
.app_store_btn_share,
.mobile_pic_icon,
.android_icon,
a.app_link{
	transition: all .2s linear;
	-o-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-webkit-transition: all .2s linear;
}


/*		Featured on section 		*/

.featured_on{
	width: 100%;
	padding: 25px 0;
	background: #f3f3f3;
}

.featured_on ul{
	margin: 0;
}

.featured_on li{
	position: relative;
	height: 100%;
}

.featured_on li:first-child{
	margin-left: 0;
}




/*		Share section 		*/

.share{
	padding: 100px 0;
}

.share .mobile_pic{
	max-width: 339px;
	position: relative;
	display: inline-block;
	text-align: center;
}

.share .mobile_pic img{
	width: 100%;
	height: auto;
}

.share.features_list{
	margin-left: 50px;
}

.share .features_list h1{
	color: #525151;
	font-family: "open_bold", Helvetica, Arial, sans-serif;
	font-size: 34px;
	font-weight: bold;
	line-height: 46px;
	margin: 0 0 20px 0;
	word-break: break-word;
}

.share .features_list p{
	color: #767272;
	font-family: "open_regular", Helvetica, Arial, sans-serif;
	font-size: 16px;
	margin-bottom: 45px;
	line-height: 32px;
}

.share .features_list ul{
	margin-bottom: 30px;
}

.share .features_list ul li{
	display: block;
	position: relative;
	color: #6c6c6c;
	font-family: "open_semibold", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 44px;
	text-indent: 25px;

	transition: all .2s linear;
	-o-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-webkit-transition: all .2s linear;
}

.share .features_list ul li.network_icon{
	background: url('../img/') no-repeat;
	background-position: 0 15px;
}

.share .features_list ul li.video_icon{
	background: url('../img/') no-repeat;
	background-position: 0 15px;
}

.share .features_list ul li.eye_icon{
	background: url('../img/') no-repeat;
	background-position: 0 14px;
}

.share .features_list ul li.pic_icon{
	background: url('../img/icon4.png') no-repeat;
	background-position: 0 14px;
}

.share .features_list ul li.loc_icon{
	background: url('../img/') no-repeat;
	background-position: 3px 13px;
}

.share .features_list ul li span{
	display: inline-block;
}

a.app_store_btn{
	display: inline-block;
	text-decoration: none;
	padding: 15px 40px;
	border: 2px solid #525252;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	margin: 20px 20px 10px 0;

	color: #525252;
	font-family: "open_semibold", Helvetica, Arial, sans-serif;
	font-size: 16px;
}

.android_icon,
.mobile_pic_icon{
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	margin-right: 20px;
	margin-bottom: 3px;
}


.mobile_pic_icon{
	background: url('../img/mobile_pic_app.png') no-repeat;
}

.android_icon{
	background: url('../img/android_app.png') no-repeat;
}


a.app_store_btn:hover,
a.app_store_btn:focus{
	border-color: #17C0DA;
	color: #17C0DA!important;
}


a.app_link{
	text-transform: lowercase;
	letter-spacing: .5px;
	color: #6d6c6c;
	font-family: "open_regular", Helvetica, Arial, sans-serif;
	font-size: 16px;
}

a.app_link:hover,
a.app_link:focus{
	text-decoration: none;
	color: #E2DD2B!important;
}

a.app_store_btn,
.app_store_btn_share,
.mobile_pic_icon,
.android_icon,
a.app_link{
	transition: all .2s linear;
	-o-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-webkit-transition: all .2s linear;
}

/* End Share section */

/*	Start Use section 		*/

.use{
	padding: 100px 0;
	background-color: #00B3CF;
}

.use .mobile_pic{
	max-width: 339px;
	position: relative;
	display: block;
	text-align: center;
}

.use .mobile_pic img{
	width: 100%;
	height: auto;
}

.use .features_list{
	margin-left: 50px;
}

.use .features_list h1{
	color: #fff;
	font-family: "open_bold", Helvetica, Arial, sans-serif;
	font-size: 34px;
	font-weight: bold;
	line-height: 46px;
	margin: 0 0 20px 0;
	word-break: break-word;
}

.use .features_list p{
	color: #fff;
	font-family: "open_regular", Helvetica, Arial, sans-serif;
	font-size: 16px;
	margin-bottom: 45px;
	line-height: 32px;
}

.use .features_list ul{
	margin-bottom: 30px;
}

.use .features_list ul li{
	display: block;
	position: relative;
	color: #fff;
	font-family: "open_semibold", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 44px;
	text-indent: 25px;

	transition: all .2s linear;
	-o-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-webkit-transition: all .2s linear;
}

.use .features_list ul li.network_icon{
	background: url('../img/') no-repeat;
	background-position: 0 15px;
}

.use .features_list ul li.video_icon{
	background: url('../img/') no-repeat;
	background-position: 0 15px;
}

.use .features_list ul li.eye_icon{
	background: url('../img/') no-repeat;
	background-position: 0 14px;
}

.use .features_list ul li.pic_icon{
	background: url('../img/icon4.png') no-repeat;
	background-position: 0 14px;
}

.use .features_list ul li.loc_icon{
	background: url('../img/') no-repeat;
	background-position: 3px 13px;
}

.use .features_list ul li span{
	display: inline-block;
}


/* 		End of Use section		*/




/*		App features 		*/

.app_features{
	width: 100%;
	padding: 100px 0 20px 0;
	background-color: #fff;
	background-image: -moz-linear-gradient(bottom, #fff 0%, #fff 0.27%, #fff 99.46%, #fff 100%);
	background-image: -o-linear-gradient(bottom, #fff 0%, #fff 0.27%, #fff 99.46%, #fff 100%);
	background-image: -webkit-linear-gradient(bottom, #fff 0%, #fff 0.27%, #fff 99.46%, #fff 100%);
	background-image: linear-gradient(bottom, #fff 0%, #fff 0.27%, #fff 99.46%, #fff 100%);
}

.app_features h1{
	color: #525151;
	font-family: "open_semibold", Helvetica, Arial, sans-serif;
	font-size: 20px;
	margin: 50px 0 0 0;
	word-break: break-word;
}

.app_features p{
	color: #525151;
	font-family: "open_regular", Helvetica, Arial, sans-serif;
	font-size: 16px;
	margin: 30px 0 0 0;
	line-height: 28px;
}

.app_features .details{
	margin-bottom: 80px;
}

/* 		End off APP features		 */
/*		Subscription section 		*/

.sub_box{
	width: 100%;
	padding: 100px 0;
	text-align: center;
	background-image: -moz-linear-gradient(bottom, #17C0DA 0%, #17C0DA 0.27%, #17C0DA 99.46%, #17C0DA 100%);
	background-image: -o-linear-gradient(bottom, #17C0DA 0%, #17C0DA 0.27%, #17C0DA 99.46%, #17C0DA 100%);
	background-image: -webkit-linear-gradient(bottom, #17C0DA 0%, #17C0DA 0.27%, #17C0DA 99.46%, #17C0DA 100%);
	background-image: linear-gradient(bottom, #17C0DA 0%, #17C0DA 0.27%, #17C0DA 99.46%, #17C0DA 100%);
}

.sub_box .cta_text{
	color: #fff;
	font-family: "open_regular", Helvetica, Arial, sans-serif;
	font-size: 20px;
	margin-bottom: 50px;
}

.sub_box #mc-email{
	width: 300px;
	height: 50px;
	padding: 0 20px;
	background-color: #fff;
	border: 0;
	outline: none;
	margin-right: -4px;
	color: #21D2A6;
	font-family: "open_regular", Helvetica, Arial, sans-serif;
	font-size: 14px;

	border-top-left-radius: 2px;
	-o-border-top-left-radius: 2px;
	-moz-border-top-left-radius: 2px;
	-webkit-border-top-left-radius: 2px;

	border-bottom-left-radius: 2px;
	-o-border-bottom-left-radius: 2px;
	-moz-border-bottom-left-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;


}

.sub_box #mc_submit{
	width: 60px;
	height: 50px;

	border-top-right-radius: 2px;
	-o-border-top-right-radius: 2px;
	-moz-border-top-right-radius: 2px;
	-webkit-border-top-right-radius: 2px;

	border-bottom-right-radius: 2px;
	-o-border-bottom-right-radius: 2px;
	-moz-border-bottom-right-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;

	background-color: #fff;
	border: 0;
	outline: none;
	margin-right: -4px;
	text-align: center;
}

.sub_box #mc_submit i{
	display: inline-block;
	width: 20px;
	height: 14px;
	vertical-align: middle;
}

#mc_submit i.icon{
	background: url('../img/sub_icon.png') no-repeat;
}

#mc_submit i.loading{
	background: url('../img/loading.gif') no-repeat;
}

.sub_box .message{
	display: block;
	text-align: center;
	color: #fff;
	font-family: "open_regular", Helvetica, Arial, sans-serif;
	font-size: 13px;
	text-transform: lowercase;
	margin-top: 20px;
}

.sub_box #error_msg,
.sub_box #success_msg{
	display: none;
}

/* 		End of sub section 		*/

/*		Footer 		*/

footer{
	padding: 100px 0;
	text-align: center;
}

footer .app_platform li{
	margin: 0 0 0 60px;
}

footer .app_platform li:first-child{
	margin: 0;
}

footer .copyright{
	margin-top: 60px;
	color: #757171;
	font-family: "open_regular", Helvetica, Arial, sans-serif;
	font-size: 12px;
	letter-spacing: .5px;
}

footer .copyright a{
	color: #565555;
}




/* 		End of Footer 		*/




/*		Responsive CSS 		*/

@media (max-width: 360px) {
	.featured_on li{
		display: block;
		width: 100%;
	}
	.share .mobile_pic{
		display: none;
	}
}

@media (max-width: 767px) {


	/*		Header 		*/
	header .logo{
		margin-right: 0;
	}

	header .burger_icon{
		display: block;
	}

	header nav{
		width: 100%;
		float: none;
		background: #17C0DA;
		position: absolute;
		margin-top: 130px;
		left: 0;
		display: none;
	}

	header nav.show{
		display: block;
	}


	header nav li{
		display: block;
		width: 100%;
		margin: 0;
		text-align: center;
	}

	header nav li a{
		display: block;
		width: 100%;
		padding: 20px 0;
		border-bottom: 1px solid #389965;
	}

	header nav li:first-child a{
		border-top: 1px solid #389965;
	}

	header .social{
		display: none;
	}

	header .social li{
		margin-left: 10px;
	}






	/*		Hero section 		*/
	.hero .caption{
		margin-left: 0;
	}

	.app_store_btn{
		display: block;
		width: 90%;
		padding-left: 0;
		padding-right: 0;
		text-align: center;
	}
	.app_store_btn_share{
		display: block;
		width: 90%;
		padding-left: 0;
		padding-right: 0;
		text-align: center;
	}





	/*		Featured on section		*/
	.featured_on{
		padding: 25px 0 5px 0!important;
	}

	.featured_on ul li{
		margin-bottom: 25px!important;
	}



	/*		About Section 		*/
	.use .features_list {
		text-align: center;
		margin: 0;
	}

	.use .features_list ul li{
		text-indent: 0;
		background: transparent!important;
		margin-bottom: 20px;
	}

	.use .features_list ul li:last-child{
		margin: 0;
	}

	a.app_link{
		display: block;
		margin-top: 20px;
	}






	/*		Subscription section 		*/
	.sub_box #mc-email,
	.sub_box #mc_submit{
		display: block;
		width: 90%;
		margin: 0 auto;
		text-align: center;
	}

	.sub_box #mc_submit{
		margin-top: 20px;
	}
}
