<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Connecty  share and win">
  <meta name="author" content="connecty">
  <link rel="shortcut icon" href="assets/favicon.ico">

  <title>Connecty - Coming soon </title>

  <!-- Bootstrap -->
  <link href="/styles/bootstrap_under_contsr.css" rel="stylesheet">
  <link href="/styles/bootstrap-theme.css" rel="stylesheet">

  <!-- siimple style -->
  <link href="/styles/style.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  <script src="/js/bootstrap_under_constr.min.js"></script>
</head>


<body ng-controller='indexController'>
<div id="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <h1>Connecty</h1>
        <h2 class="subtitle">We're working hard to create our best APP and we'll ready to launch after</h2>
        <div id="countdown"></div>
        <span date="January 1, 2016 12:00:00">&nbsp;</span>
        <form class="form-inline signup" role="form">
          <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email address" ng-model='email'>
          </div>
          <button type="submit" class="btn btn-theme" ng-click ='subEmail'>Get notified:)</button>
        </form>

      </div>

    </div>
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <p class="copyright">Copyright &copy; 2015 - <a href="connecty.me">Connecty.me</a></p>
        <!--
            All links in the footer should remain intact.
            Licenseing information is available at: http://bootstraptaste.com/license/
            You can buy this theme without footer links online at: http://bootstraptaste.com/buy/?theme=WeBuild
        -->
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('#countdown').countdown('2017/01/01', function(event) {
    $(this).html(event.strftime('%w weeks %d days <br /> %H:%M:%S'));
  });
</script>
</body>
</html>
